
.topnav {
    background-color: red;
    overflow: hidden;
  }
 
  /* Style for the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* style for the main content  */
  .main {
      text-align: center;
      font-family:'Courier New', Courier, monospace;
      font-size: 1.5rem;
  }
  footer {
      margin-bottom: 0%;
      background-color: red;
      overflow: hidden;
      text-align: center;
      font-size: 1.5rem;
      color: white;
  }

  